{% extends "home/core.html" %}

{% block content %}

<h1 style = "color:#41A9B1; margin-top:-20px;">Comments & Complaints</h1>
<hr style="border:dotted 1px #C8C8C8">

<p>We are always happy to hear suggestions patients may have to improve the services we provide. 
We do try to give the best possible service but there may be times when you feel this is not happening.</p>
<p>If you have a complaint about any aspect of the service you have received, from doctors or staff, please let us know.<br>
We operate a practice complaints procedure in line with national NHS guidelines, copies of the procedure are 
available from reception staff. You may also reference leaflets and posters in the waiting room.</p>

<p><b style = "font-size:18px">The Health Service Ombudsman</b><br>
The Health Service Ombudsman has published a booklet that describes the 
‘six principles for remedy’ in relation to complaints handling and involves:</p>
<ul>
	<li>Getting it right</li>
	<li>Being customer focused</li>
	<li>Being open and accountable</li>
	<li>Acting fairly and proportionately</li>
	<li>Putting things right</li>
	<li>Seeking continuous improvements</li>
</ul>
<p>If you remain unhappy after everything has been done to try to resolve 
your concern or complaint you have the right to approach the Ombudsman.</p>

<p><b style = "font-size:18px">Complaints and Comments Procedure</b><br>
This Policy and Procedure complies with The Local Authority Social Services 
and National Health Service Complaints (England) Regulations 2009, introduced
 on 1st April 2009 across health and social care.</p>
 
<h4>Policy</h4>
<p>The Practice will take all reasonable steps to ensure that it’s staff are aware of and comply with this Procedure.</p>
<p>The Practice has nominated Gurninder Kaur (Practice Manager) as it’s Complaints Manager, to be responsible for 
managing the procedures for handling and considering complaints in accordance with the Policy and Procedure.</p>
<p>The Practice has nominated Dr Samuel Muthuveloe -Lead GP as its Responsible Person, to be responsible for ensuring 
compliance with the Policy and Procedure, and in particular ensuring that action is taken if necessary in the light of the outcome of a complaint.</p>
<p>The Practice will take all reasonable steps to ensure that patients are aware of:</p>

<ul>
	<li>The Complaints and Comments Procedure</li>
	<li>The roles of the Practice, NHS England, Clinical <a title="Commisioning" data-toggle="popover" 
	data-trigger="hover" data-content="Process by which the health needs of the local population are identified. Priorities 
	for investment are set and appropriate services are purchased and evaluated. Primary Care Trusts do not provide all the 
	healthcare services needed by the local population, they buy-in or commission services from other provider organisations. 
	Typically this includes local hospitals">Commissioning</a> Group (CCG) and the Health Service 
	Ombudsman with regard to patient complaints.</li>
	<li>This includes the alternative facility for the patient to complain directly to the CCG instead of making 
	their complaint to the Practice, as well as their right to escalate their complaint to the Health Service Ombudsman
	when they are dissatisfied with the initial response.</li>
	<li>N.B. ALL escalations must be directed to the Health Service Ombudsman (so when a patient is dissatisfied with 
	the Practice response to their complaint, they must escalate their complaint to the Health Service Ombudsman, not the CCG).</li>
	<li>Their right to assistance with any complaint from the Patient Advice and Liaison Service (PALS); The Independent <br>Complaints 
	<a title="Advocacy" data-toggle="popover" 
	data-trigger="hover" data-content="A range of support available for patients and users of a service to enable them to have access to 
	a representative who will speak for them and ensure that there insterests are being represented">Advocacy</a> 
	Service (ICAS); Citizens Advice Bureaux, NHS Choices and the Care Quality Commission</li>
	<li>The Practice Complaints and Comments Patient Information Leaflet, the Practice Patient Information Leaflet 
	and the Practice Website will be the prime information sources for implementing this Policy and will be kept up to 
	date and be made freely available to all Patients.</li>
	<li>Patients will be encouraged to complain in writing where possible.</li>
	<li>All complaints will be treated in the strictest confidence.</li>
	<li>Patients who make a complaint will not be discriminated against or be subject to 
	any negative effect on their care, treatment or support.</li>
	<li>Where a complaint investigation requires access to the patient's medical records and involves disclosure of this
	information to a person outside the Practice, Gurninder Kaur (Practice Manager), the Complaints Manager, will inform
	the patient or person acting on their behalf.</li>
	<li>The Practice will maintain a complete record of all complaints and copies of all related correspondence. 
	These records will be kept separately from patients' medical records.</li>
</ul>

<p><b style = "font-size:18px">Complaint initiated on Practice Premises</b><br>
In the event that a Practice staff member notices that a patient appears to be distressed / upset 
on the Practice Premises, they should immediately contact Gurninder Kaur Practice Manager, who will 
attempt to identify and resolve the problem personally at that time.</p>

<p>In the event of a Practice staff member being advised that a patient wishes to make a complaint, 
the patient should be passed a copy of the current Practice Complaints and Comments Patient Information Leaflet.</p>
<p>The patient should be asked if they intend to complete the form in this leaflet there and then, or do they intend to complete it later.</p>
<p>If they intend to complete it later, the Practice staff member should provide them with an envelope.</p>
<p>If they intend to complete it there and then, the Practice staff member to ask if they require assistance in completing 
it – if so, Gurninder Kaur Practice manager should be contacted to provide such assistance.</p>
<p>Whichever option is chosen, the patient will be assured that their complaint will be 
acknowledged within 3 working days from receipt of the form.</p>

<p><b style = "font-size:18px">Receipt and Acknowledgement of Complaints</b><br>
The Practice may receive the following complaints:</p>
<ul>
	<li>A complaint made directly by the patient or former patient, who is receiving or has received treatment at the Practice;</li>
	<li>A complaint made on behalf of a patient or former patient (with his/her consent), who is receiving or has received 
	treatment at the Practice;</li>
	<li>Where the patient is a child:</li>
	<ul>
		<li>By either parent, or in the absence of both parents, the guardian or other adult who has care of the child;</li>
		<li>By a person duly authorised by a Local Authority into whose care the child has been committed under the provisions of the Children Act 1989;</li>
		<li>By a person duly authorised by a voluntary organisation, by which the child is being accommodated.</li>
	</ul>
	<li>Where the patient is incapable of making a complaint, by a representative who has an interest in his/her welfare.</li>
	<li>All complaints, whether written or verbal will be recorded by Gurninder Kaur Practice Manager in the dedicated complaints record.</li>
	<li>All written complaints will be acknowledged in writing within 3 working days of receipt.</li>
	<li>If the Practice identifies that the complaint will involve an additional provider it will agree with that provider
	which organisation will take the lead in responding and communicating with the complainant.</li>
</ul>
<p><b style = "font-size:18px">Periods of time within which complaints can be made</b><br>
The periods of time within which a complaint can be made is normally:</p>
<ul>
	<li>12 months from the date on which the event / incident which is the subject of the complaint occurred; or</li>
	<li>12 months from the date on which the event / incident which is the subject of the complaint comes to the complainant's notice.</li>
</ul>

<p>Initial action upon receipt of a complaint</p>
<ul>
	<li>All complaints, whether verbal or in writing must be forwarded immediately to 
	Gurninder Kaur (Practice Manager), the Practice Complaints Manager or, if unavailable to Dr 
	Samuel Muthuveloe Lead GP in his absence Dr Aarthi Ravimohan GP partner, the Practice Responsible Person.</li>
	<li>Where the complaint is made verbally, a written record will be made of the complaint and a 
	copy of this will be provided to the complainant.</li>
	<li>A verbal or written acknowledgement of receipt of the complaint must be made not 
	later than 3 working days after the day on which the Practice receives the complaint.</li>
</ul>

<p>This written acknowledgement will include:</p>
<ul>
	<li>The name and contact details of the Practice member of staff who will be attending the meeting and investigating the complaint</li>
	<li>An offer to meet with the complainant, at a time and location convenient to them, to discuss the manner in which the 
	complaint is to be handled and the response period within which the investigation of the complaint is likely to be completed 
	and the full response is likely to be sent to the complainant.</li>
</ul>

<p>As much of the following information as possible will be obtained at this initial meeting, to enable their 
concerns to be assessed correctly, resolved quickly if possible and build a good ongoing relationship with them:</p>
<ul>
	<li>Ascertain they would like to be addressed – as Mr, Mrs, Ms or by their first name.</li>
	<li>Ascertain how they wish to be kept informed about how their complaint is being dealt with – by phone, letter, email or 
	through a third party such as an <a title="Advocacy" data-toggle="popover" 
	data-trigger="hover" data-content="A range of support available for patients and users of a service to enable them to have access to 
	a representative who will speak for them and ensure that there insterests are being represented">Advocacy</a> or support service.</li>
	<li>If it’s by phone, ascertain the times when it is convenient to call and verify that 
	they are happy for messages to be left on their answer phone.</li>
	<li>If it’s by post, make sure that they are happy to receive correspondence at the address given.</li>
	<li>Check if consent is needed to access someone’s personal records</li>
	<li>Check if they have any disabilities or circumstances that need to be taken account of.</li>
	<li>Ensure they are aware that they can request an advocate to support them throughout the complaints process, including at the first meeting.</li>
	<li>Systematically go through the reasons for the complaint so that there is a clear understanding why they are dissatisfied.</li>
	<li>Ascertain what they would like to happen as a result of the complaint (for example, an apology, 
	new appointment, reimbursement for costs or loss of personal belongings or an explanation).</li>
	<li>Advise them at the outset if their expectations are not feasible or realistic.</li>
	<li>Formulate and agree a plan of action, including when and how the complainant will hear back from the Practice.</li>
	<li>If it is considered that the matter can be resolved quickly without further investigation, 
	the Practice will do so, providing the complainant agrees and there is no risk to other service users.</li>
	<li>In the event the complainant does not accept the offer of a discussion, the Practice will itself 
	determine the response period and notify the complainant in writing of that period.</li>
</ul>

<p><b style = "font-size:18px">Investigation and response</b><br>
Complaints should be resolved within a “relevant period” i.e. 6 months from the day on which the complaint was received.</p>
<p>However, at any time during the “relevant period”, the Practice Complaints Manager or Responsible Person has the 
discretion to liaise with the complainant to extend this timeframe to a mutually agreeable date, provided it is still 
possible to carry out a full and proper investigation of the complaint effectively and fairly.</p>
<p>When an extension to the 6 months timeframe is being considered, it is essential that the Complaints 
Manager or Responsible Person takes into account that either party may not be able to remember accurately 
the essential details of the event / incident and also the feasibility of being able to obtain other essential 
evidence specific to the time of the event.</p>
<p>The Practice will investigate the complaint speedily and efficiently and as far as reasonably practicable,
 keep the complainant informed of the progress of the investigation.</p>
 
<p>After the investigation is completed, the Practice will compile a written report which incorporates:</p>
<ul>
	<li>A summary of each element of the complaint</li>
	<li>Details of policies or guidelines followed</li>
	<li>A summary of the investigation</li>
	<li>Details of key issues or facts identified by an investigation</li>
	<li>Conclusions of the investigation: was there an error, omission or 
	shortfall by your organisation? Did this disadvantage the complainant, and if so, how?</li>
	<li>What needs to be done to put things right</li>
	<li>An apology, if one is needed</li>
	<li>An explanation of what will happens next (e.g. what will be done, who will do it, and when)</li>
	<li>Information on what the person complaining should do if they are still unhappy and 
	wish to escalate the complaint, including full contact information on the Health Service Ombudsman.</li>
</ul>

<p>The Practice will send the complainant a response within the 6 months “relevant period”, 
signed by Dr Samuel Muthuveloe Lead GP, the Practice Responsible Person. The response will incorporate:</p>

<p><b style="font-size:15px">The written report</b><br></p>
<ul>
	<li>Confirmation as to whether the Practice is satisfied that any necessary action has been taken or is proposed to be taken;</li>
	<li>A statement of the complainant’s right to take their complaint to the Parliamentary and Health Service Ombudsman.</li>
	<li>If the Practice does not send the complainant a response within the 6 month “relevant period”, it will</li>
	<li>Notify the complainant in writing accordingly and explain the reason why; and.</li>
	<li>Send the complainant in writing a response as soon as reasonably practicable after the 6 month “relevant period”.</li>
	<li>In the event that the complaint has been incorrectly sent to the Practice, the Practice will advise the patient 
	of this fact within 3 working days from its initial receipt and ask them if they want it to be forwarded to the correct
	organisation. If it is sent on, the Practice will advise the patient of the correct organisation’s full contact and address details.</li>
</ul>

<p><b style="font-size:15px">Handling Unreasonable Complaints</b><br>
In situations where the person making the complaint can become aggressive or unreasonable, the Practice 
will instigate the appropriate actions from the list below and will advise the complainant accordingly:</p>
<ul>
	<li>Ensure contact is being overseen by an appropriate senior member of staff who will act 
	as the single point of contact and make it clear to the complainant that other members of staff 
	will be unable to help them.</li>
	<li>Ask that they make contact in only one way, appropriate to their needs (e.g. in writing).</li>
	<li>Place a time limit on any contact.</li>
	<li>Restrict the number of calls or meetings during a specified period.</li>
	<li>Ensure that a witness will be involved in each contact</li>
	<li>Refuse to register repeated complaints about the same issue.</li>
	<li>Do not respond to correspondence regarding a matter that has already been closed, only acknowledge it.</li>
	<li>Explain that you do not respond to correspondence that is abusive.</li>
	<li>Make contact through a third person such as a specialist advocate.</li>
	<li>Ask the complainant to agree how they will behave when dealing with your service in the future.</li>
	<li>Return any irrelevant documentation and remind them that it will not be returned again.</li>
	<li>When using any of these approaches to manage contact with unreasonable or aggressive
	people, provide an explanation of what is occurring and why.</li>
	<li>Maintain a detailed record of each contact during the ongoing relationship.</li>
</ul>

<p><b style="font-size:15px">Complaints Register</b><br>
To ensure the Practice monitors, handles and reviews complaints in a logical and timely manner, and to keep an 
<a title="Audit" data-toggle="popover" 
data-trigger="hover" data-content="A continuous cycle of assesment, evaluation and adjustment">Audit</a>
 trail of steps taken and decisions reached, the Practice records all complaints received on a dedicated complaints register.


In line with National Guidance, the Practice will supply the following information to NHS England:</p>
<ul>
	<li>The number of complaints received;</li>
	<li>The issues that these complaints raised;</li>
	<li>Whether complaints have been upheld;</li>
	<li>The number of cases referred to the Ombudsman.</li>
</ul>

<p><b style="font-size:15px">Reporting a Summary of Complaints to the Care Quality Commission</b><br>
The Practice will adhere to the Care Quality Commission’s requirement of producing a summary of complaints 
at a time and in a format set out by the CQC and then send the summary within the timeframe specified.</p>




<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>
<hr>
{% endblock %}