{% extends "home/core.html" %}

{% block content %}

<h1 style = "color:#41A9B1; margin-top:-20px;">Chaperones</h1>
<hr style="border:dotted 1px #C8C8C8">
<p>All patients are entitled to have a chaperone present for any 
consultation. please request this at the time of booking or 
speek to your GP.</p>
<a href="http://www.lmc.org.uk/visageimages/guidance/2007/Chaperone_model%20framework.pdf" target="_blank">
Click here to find out more about NHS policy on Chaperones.</a>
<hr>
{% endblock %}