{% extends "home/core.html" %}

{% block content %}
<h1 style = "color:#41A9B1; margin-top:-20px;">Data Protection</h1>
<hr style="border:dotted 1px #C8C8C8">

<p>The practice complies with Data Protection and Access to Medical Records legislation. Identifiable information about you will be shared with others in the following circumstances:</p>
<p>To provide further medical treatment for you e.g. from district nurses and hospital services.</p>
<p>To help you get other services e.g. from the social work department. This requires your consent.</p>
<p>When we have a duty to others e.g. in child protection cases anonymised patient information will also be used at local and national level to help the Health Board and Government plan services e.g. for diabetic care.</p>
<p>If you do not wish anonymous information about you to be used in such a way, please let us know.</p>
<p>Reception and administration staff require access to your medical records in order to do their jobs. These members of staff are bound by the same rules of confidentiality as the medical staff.</p>

<hr>
{% endblock %}