{% extends "home/core.html" %}

{% block content %}
<h1 style = "color:#41A9B1; margin-top:-20px;">Equal Opportunites</h1>
<hr style="border:dotted 1px #C8C8C8">

<h3><strong>Equal Opportunities Policy for Practice, Visitors and Patients.</strong></h3>
<h4><strong>Applicability</strong></h4>
<p>This Policy applies to all visitors making use of the Practice&rsquo;s premises and services.</p>
<p>The term &lsquo;visitor&rsquo; used within this document refers to patients and their family members, other visitors and contractors but excludes employees, for whom the Equal Opportunities Policy for Staff applies.</p>
<h4><strong>The Practice:</strong></h4>
<p>Will ensure that all visitors are treated with dignity and respect and in line with the Practice dignity and respect policy.</p>
<p>Will promote equality of opportunity between men and women.</p>
<p>Will not tolerate any discrimination against, or harassment of, any visitor for reason of sex, race, colour, religion, religious or philosophical belief, nationality, age, ethnic origin, marital status, civil partnership, disability, sexual orientation or gender re-assignment.</p>
<p>Will provide the same treatment and services (including the ability to register with the practice) to any visitor irrespective of sex, race, colour, religion, religious or philosophical belief, nationality, age, ethnic origin, marital status, civil partnership, disability, sexual orientation or gender re-assignment.</p>
<h4><strong>Procedure for Patients to follow:</strong>-</h4>
<h4><strong>1. Discrimination by the Practice against you</strong></h4>
<p>If you feel discriminated against:</p>
<p>You should bring the matter to the attention of Gurninder Kaur (Practice Manager)</p>
<p>Gurninder Kaur (Practice Manager) will investigate the matter thoroughly and confidentially within 3 working days.</p>
<p>Gurninder Kaur (Practice Manager) will establish the facts and decide whether discrimination has taken place and advise you of the outcome of the investigation within 10 working days.</p>
<p>If you are not satisfied with the outcome, you should raise a formal complaint through the Practice&rsquo;s Complaints Procedure.</p>
<h4><strong>2. Discrimination against the Practice&rsquo;s staff</strong></h4>
<p>The Practice will not tolerate any form of discrimination or harassment of its staff by any visitor.</p>
<p>Any visitor, who expresses any form of discrimination against, or harassment of, any member of the Practice staff, will be required to leave the Practice&rsquo;s premises forthwith.</p>
<p>If the visitor is a patient, s/he may be removed from the Practice&rsquo;s list if any such behaviour occurs on more than one occasion.</p>      
<hr>
{% endblock %}