{% extends "home/core.html" %}

{% block content %}
<h1 style = "color:#41A9B1; margin-top:-20px;">Leaflets</h1>
<hr style="border:dotted 1px #C8C8C8">

<p>You will find a wide variety of Practice Leaflets which will inform you of all the services 
that we provide for our patients. For example  Patients Charter Leaflet, Practice Leaflet and 
Comments and Complaints Leaflet, Sharing Data Information Leaflets etc. Please ask at reception for any of these leaflets</p>

<a href="http://www.easyhealth.org.uk/categories/health-leaflets/" target="_blank">
Click here for a wide array of online health leaflets</a>
<hr>
{% endblock %}