{% extends "home/core.html" %}

{% block content %}
<h1 style = "color:#41A9B1; margin-top:-20px;">Data Protection</h1>
<hr style="border:dotted 1px #C8C8C8">

<h3><strong>What is the NHS Constitution?</strong></h3>
<p>The NHS is founded on a common set of principles and values that bind together the communities and people it serves &ndash; patients and public &ndash; and the staff who work for it.</p>
<p>This Constitution establishes the principles and values of the NHS inEngland.</p>
<p>It sets out rights to which patients, public and staff are entitled, and pledges which the NHS is committed to achieve, together with responsibilities which the public, patients and staff owe to one another to ensure that the NHS operates fairly and effectively.</p>
<p>All NHS bodies and private and third sector providers supplying NHS services are required by law to take account of this Constitution in their decisions and actions.</p>
<p>The Constitution will be renewed every 10 years, with the involvement of the public, patients and staff.</p>
<p>How Hadenvale Medical Practice Implements the NHS Constitution</p>
<h3><strong>Principles</strong></h3>
<h4><strong>The Practice:</strong></h4>
<p>Provides a comprehensive service, available to all irrespective of age, disability, gender reassignment, race, religion or belief, sex or sexual orientation and has a duty to respect their human rights.</p>
<p>Promotes equality through the service, providing and to paying particular attention to groups or sections of society where improvements in health and life expectancy are not keeping pace with the rest of the population.</p>
<p>Provides access to services based on clinical need, not on an individual&rsquo;rsquo;s ability to pay.</p>
<p>Aspires to the highest standards of excellence and professionalism, providing safe and effective high-quality care focused on patient experience.</p>
<p>Ensures that it is effectively lead and managed and its staff receive relevant education, training and development.</p>
<p>Its services reflect the needs and preferences of patients, their families and carers who will be involved in and consulted on all decisions about their care and treatment.</p>
<p>Ensures that it works across organisational boundaries and in partnership with other organisations in the interest of patients, local communities and the wider population.</p>
<p>Is accountable to the public, communities and patients that it serves.</p>
<p>Supports staff when they raise concerns about the service by ensuring their concerns are fully investigated and that there is someone independent, outside of their team, to speak to.</p>
<h3><strong>Patient Rights</strong></h3>
<h4>Patients have the right:</h4>
<p>To receive NHS services free of charge, apart from certain limited exceptions sanctioned by Parliament.</p>
<p>To access NHS services and not be refused access on unreasonable grounds.</p>
<p>To expect the Practice to assess the health requirements of the local community and to commission and put in place the services to meet those needs as considered necessary.</p>
<p>In certain circumstances to go to other European Economic Area countries or Switzerland for treatment which would be available through the NHS.</p>
<p>Not to be unlawfully discriminated against in the provision of NHS services including on grounds of gender, race, religion or belief, sexual orientation, disability (including learning disability or mental illness) or age.</p>
<p>To access services within maximum waiting times, or to be offered a range of alternative providers if this is not possible.</p>
<p>To be treated with a professional standard of care, by appropriately qualified and experienced staff, in a properly approved or registered organisation that meets required levels of safety and quality.</p>
<p>To be treated with dignity and respect, in accordance with their human rights.</p>
<p>To accept or refuse treatment that is offered, and not to be given any physical examination or treatment unless valid consent has been given.</p>
<p>To be given information about their proposed treatment in advance, including any significant risks and any alternative treatments which may be available, and the risks involved in doing nothing.</p>
<p>To privacy and confidentiality and to expect the Practice to keep their confidential information safe and secure.</p>
<p>To access to their own health records.</p>
<p>To choose their GP practice, and to be accepted by that Practice unless there are reasonable grounds to refuse, in which case they will be informed of those reasons.</p>
<p>To express a preference for using a particular doctor within their GP Practice.</p>
<p>To make choices about their NHS care and to information to support these choices.</p>
<p>To be involved in discussions and decisions about their healthcare, and to be given information to enable them to do this.</p>
<p>To be involved, directly or through representatives, in the planning of healthcare services, the development and consideration of proposals for changes in the way those services are provided, and in decisions to be made affecting the operation of those services.</p>
<p>To have any complaint you make about NHS services dealt with efficiently, to have it properly investigated, know the outcome and escalate the complaint to the independent Health Service Ombudsman.</p>
<p>To make a claim for judicial review if they think they have been directly affected by an unlawful act or decision of an NHS body.</p>
<p>To compensation where they have been harmed by negligent treatment.</p>
<h3><strong>Patient Responsibilities</strong></h3>
<p><span>To make a significant contribution to their own, and their family&rsquo;s, good health and well-being, and take some personal responsibility for it.</span></p>
<p>To treat NHS staff and other patients with respect and recognise that causing a nuisance or disturbance on NHS premises could result in prosecution.</p>
<p>To provide accurate information about their health, condition and status.</p>
<p>To keep appointments, or cancel within reasonable time.</p>
<p>To follow the course of treatment which they have agreed, and talk to their <!-- have to make this a popover -->a class='cluetip' href='#' rel='/ShowJargon.ashx?ID=faaaed1a-e984-41ec-8403-bb586eb0c8f6' >Clinician</a> if they find this difficult.</p>
<p>To participate in important public health programmes such as vaccination.</p>
<p>To ensure that those closest to them are aware of their wishes about organ donation.</p>
<p>To give feedback &ndash; both positive and negative &ndash; about the treatment and care they have received, including any adverse reactions they may have had.</p>
<h3><strong>Practice Staff Rights</strong></h3>
<h4>Practice Staff have the right:</h4>
<p><span>To a good working environment with flexible working opportunities, consistent with the needs of patients and with the way that people live their lives;</span></p>
<p>To have a fair pay and contract framework;</p>
<p>To be involved and represented in the workplace;</p>
<p>To have healthy and safe working conditions and an environment free from harassment, bullying or violence;</p>
<p>To be treated fairly, equally and free from discrimination; and</p>
<p>To raise an internal grievance and if necessary seek redress, where it is felt that a right has not been upheld;</p>
<p>To raise any concern with their employer, whether it is about safety, malpractice or other risk, in the public interest, without suffering any detriment.</p>
<h3><strong>NHS Pledge to Staff Members</strong></h3>
<h4><strong>The NHS Commits:</strong></h4>
<p>To provide all staff with clear roles and responsibilities and rewarding jobs for teams and individuals that make a difference to patients, their families and carers and communities;</p>
<p>To provide all staff with personal development, access to appropriate training for their jobs and line management support to succeed;</p>
<p>To provide support and opportunities for staff to maintain their health, well-being and safety;</p>
<p>To engage staff in decisions that affect them and the services they provide, individually, through representative organisations and through local partnership working arrangements. All staff will be empowered to put forward ways to deliver better and safer services for patients and their families;</p>
<p>To support all staff in raising concerns at the earliest reasonable opportunity about safety, malpractice or wrongdoing at work, responding to and, where necessary, investigating the concerns raised and acting consistently with the Public Interest Disclosure Act 1998.</p></div>    

<hr>
{% endblock %}