{% extends "home/core.html" %}

{% block content %}

<h1 style = "color:#41A9B1; margin-top:-20px;">Out of hours</h1>
<hr style="border:dotted 1px #C8C8C8">
<p>if you have an urgent problem when the surgery is closed, 
please ring <b>NHS 111</b> your call will be answered by one of the out of 
hours team. please note that when contacting them, your telephone 
conversation will be recorded.</p>

<p>At the weekend surgeries will be held at the<br>
<b>Holly Hall walk-in-centre, 174 Stourbridge Road, Dudley, DY1 2ER<br>
Telephone: 0330 123 9225</b></p>

<p>At any other time use our Emergency Telephone line as mentioned 
above and follow the instructions given on the answer nachine.<br>
<b>Some of the services that provide non-emergency care are:</b></p>
<ul>
	<li><a href="http://www.nhs.uk/NHSEngland/AboutNHSservices/Emergencyandurgentcareservices/Pages/NHS-111.aspx" target="_blank">NHS 111</a></li>
	<li><a href="http://www.nhs.uk/pages/home.aspx" target="_blank">NHS Choices</a></li>
</ul>
<h3><b>None Urgent Care Services</b></h3>
<p>Offer advice and treatment for minor illnesses or injuries
 where you cannot wait for a  routine appointment with your GP.<br>
<b>Some of the services that provide none urgent care are:</b></p>
<ul>
	<li><a href="http://www.nhs.uk/NHSEngland/AboutNHSservices/Emergencyandurgentcareservices/Pages/NHS-111.aspx" target="_blank">
	NHS 111</a></li>
	<li><a href = "http://www.worcsoutofhours.nhs.uk/" target="_blank">
	Emergency appointments</a></li>
	<li><a href="https://www.pushdoctor.co.uk/ppc/walk-in-centre-birmingham?&gclid=CM-e4JeOm88CFZGZGwodxhwPrA" target="_blank">
	Online face to face consultation</a></li>
</ul>

<h3><b>Emergency Care Services</b></h3>
<p>provide treatment for Life threatening conditions, 
this could be a serious illness or injury such as chest pain, 
severe loss of blood or choking.<br>
<b>Some of the services that provide emergency care are:</b></p>
<ul>
	<li>The ambulance service</li>
	<li>A&E</li>
</ul>
<hr>
<h4>Every year, millions of us visit our GP with minor health
 problems that our local pharmacist could resolve.</h4>
 <p>It is estimated that every year, 50 million visits to the 
 GP are made for minor ailments such as coughs and colds, mild 
 eczema and athlete's foot.
 But by visiting your pharmacy instead, you could save yourself 
 time and trouble.<br>
 Instead of booking and waiting for a GP appointment, you can
 visit your local pharmacist any time – just walk in.<br>
 All pharmacists can recognise many common health complaints. 
 They can give advice or, where appropriate, medicines that will 
 help clear up the problem.
 If your problem is more serious and needs the attention of a GP, 
 your pharmacist will recognise this and advise you to see your 
 GP instead.
 What's more, many pharmacies are open in the evenings and on 
 the weekends.<br>
 If everybody went to a pharmacist with common health problems, 
 more time would be freed up for our GPs. This might make it 
 easier to get a convenient appointment with your GP next time 
 you need one.<br>
 So, if you have a common health problem, a trip to your local 
 pharmacy is an option.</p>
<hr>
{% endblock %}